.main{
    height: 500px;
    width: 100%;
   outline: 5px solid  white;
}
.menu{
    height: 40px;
    width: 100%;
   outline: 5px solid white;

}
.intro{
    height: 445px;
    width: 100%;
   outline: 5px solid white ;
    background-image: url(../images/bgimg2.jpg);
    background-repeat: no-repeat;
}
#img2{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: relative;
    bottom:500px ;
    box-shadow: 5px 5px 7px;
    
}
#m2img2{
    height: 100px;
    width: 100px;
    background-color: teal;
    border: 2px solid teal;
    border-radius: 100%;
    position: relative;
    bottom:550px;
    right: 150px;
    box-shadow: 5px 5px 7px;
}
#m2img3{
    height: 100px;
    width: 100px;
    background-color: blanchedalmond;
    border: 2px solid blanchedalmond;
    border-radius: 100%;
    position: relative;
  bottom: 650px ;
  left: 200px;
  box-shadow: 5px 5px 7px;
}
#m2img4{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 2px solid white;
    border-radius: 100%;
    position: relative;
  top: 25px ;
  left: 2px;
}
#m2img5{
    height: 200px;
    width:200px;
    border-radius: 100%;
    position: relative;
    bottom: 300px;
    right: 200px;
    box-shadow: 5px 5px 7px;
}
#m2img6{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    position: relative;
    bottom: 1000px;
    left: 300px;
    box-shadow: 5px 5px 7px;
}
.intcontent{
    height: 400px;
    width: 300px;
   outline: 3px solid white ;
    float: right;
    margin: 20PX;
}
.intcontent h4{
    font-size: 25px;
    text-transform: capitalize;
    color: ;
    margin-left: 10px;   
}
.intcontent p{
    font-size: 15px;
    color:;
    margin-left: 10px;
}
#b1{
    height: 20px;
    width: 100px;
    float: left;
    margin-left: 10px;
}
#b1:hover{
    color: blue;
}
.main2{
    height: 900px;
    width: 100%;
   outline: 5px solid white;
}
#services{
    height: 320px;
    width: 100%;
   outline: 3px solid white;
}
.service{
    position: relative;
    left: 250px;
}
.plane{
    height: 200px;
    width: 150px;
    outline: 2px solid teal;
    background-color: rgba(24, 91, 139, 0.638);
    float: left;
    margin: 50px;
    margin-right: 30px;
}
.plane h5{
    
    font-size: 20PX;
    text-transform: uppercase;
    
}

.m2content{
    height: 375px;
    width: 100%;
    ouline: 3px solid white;
}
.m2content h5{
    font-size: 30px;
}
.m2content li{
    list-style: circle;
    font-size: 20px;
}
.main2 ul{
    list-style: none;
}
.main2 button{
    margin-left: 40px;
}
.main3{
    height: 200px;
    width: 100%;
    outline: 2px solid white;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.725);
}
.main3 p{
    text-transform: capitalize;
    size: 20px;
}
#b2{
    background-color: rgba(18, 155, 155, 0.571);
    border: 1px solid rgba(18, 155, 155, 0.571);
}
#b2:hover{

    color: blue;
}
.main4{
    height: 700px;
    width: 100%;
   outline: 2px solid white; 
   position: relative;

}
.colo1{
    height: 300px;
    width: 400px;
    background-color: beige;
    position: relative;
    top: 100px;
    left: 400px;
}
.colo2{
    height: 150px;
    width: 250px;
    background-color:teal;
    position: relative;
    bottom: 250px;
    left: 500px;
}
#colimg{
    height: 400px;
    width: 500px;
    position: relative;
    bottom: 350px;
    left: 200px;

}
.m4content{
    height: 250px;
    width: 250px;
    outline: 4px solid white;
    position: relative;
    bottom: 500px;
    left: 250px;
    background-color: white;
}
.main41{
    position: relative;
    left: 350px;
}
.main5{
    height: 400px;
    width: 100%;
    outline: 5px solid white ;
    background-image: url(../images/yyy.jpg);
    background-size: cover;
}
.about{
    height: 300px;
    width: 300px;
    border: 5px solid white;
    text-align:justify ;
    position: relative;
    color: white;
    left: 200px;
    top: 50px;
}
#b3{
    background-color: teal;
    border: 2px solid teal;
}
.main6{
    height: 900px;
    width: 100%;
    border: 2px solid  white;
}
#m6sub{
    height: 250px;
    width: 300px;
    border: 2px solid blanchedalmond;
    background-color: blanchedalmond;
    float: right;
    text-align:left;
    text-overflow: ellipsis;
}
#m6img1{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    position: relative;
    left: 600px;
    top: 50px;
    box-shadow: 5px 5px 7px;
}
#m6img2{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    position: relative;
    left: 450px;
    bottom: 60px;
    box-shadow: 5px 5px 7px;
}
#m6img3{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    position: relative;
    left: 300px;
    bottom: 450px;
    box-shadow: 5px 5px 7px;
}
.travel{
    position: relative;
    bottom: 300px;
}
.main7{
    height: 300px;
    width: 100%;
    text-align: center;
    text-align: center;
    color: white;
    outline: 2px solid white;
    background-image: url(../images/jhjh.jpg);
    background-size: cover;
   
}

